@model NHTBrandShop.Areas.Admin.Models.BrandListingModel

@if (Model != null && Model.Brands != null && Model.Brands.Count() > 0)
{
    <table id="listtable" class="table table-hover" style="width:100%">
        <thead class="thead-secondary">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Updated At</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model.Brands)
            {
                <tr>
                    <td>
                        @brand.BrandName
                    </td>
                    <td>
                        @brand.UpdatedAt
                    </td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <button data-href="@Url.Action("AddAndEdit", "Brand", new { ID = brand.BrandID})"
                                    type="button" class="data-btn btn btn-dark" data-toggle="modal"
                                    data-target="#actionModal">
                                <i class="fa fa-edit fa-xs">   Edit</i>
                            </button>

                            <button data-href="@Url.Action("Delete", "Brand", new { ID = brand.BrandID})"
                                    type="button" class="data-btn btn btn-danger" data-toggle="modal"
                                    data-target="#actionModal">
                                <i class="fa fa-trash fa-xs">   Delete</i>
                            </button>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No @ViewBag.Title Listed.
    </div>
}