@model NHTBrandShop.Areas.Admin.Models.ProductsActionModel

@if (Model != null)
{
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @if (Model.ProductID > 0)
                    {
                    <h4>@Model.ProductName</h4>
                    }
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Portfolio Item Row -->
                <div class="row">

                    <div class="col-md-8">
                        <img class="img-fluid" src="http://placehold.it/750x500" alt="">
                    </div>

                    <div class="col-md-4">
                        <h3 class="my-3">Project Description</h3>
                        <p>@Model.Description</p>
                        <h3 class="my-3">Project Details</h3>
                        <ul>
                            <li>
                                Buying Price: @Model.BuyingPrice
                            </li>
                            <li>
                                Regular Price: @Model.RegularPrice
                            </li>
                            <li>
                                Discount Price: @Model.DiscountPrice
                            </li>
                            <li>
                                Product Quantity: @Model.ProductQuantity
                            </li>
                            <li>
                                Colors Available: @Model.Color
                            </li>
                            <li>
                                Configuration Available: @Model.Config
                            </li>
                            <li>
                                Availibility: @Model.ProductStatus
                            </li>
                            <li>
                                Modification Time: @Model.UpdatedAt
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.row -->
                <!-- Related Projects Row -->
                <h3 class="my-4">Related Projects</h3>

                <div class="row">

                    <div class="col-md-3 col-sm-6 mb-4">
                        <a href="#">
                            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-4">
                        <a href="#">
                            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-4">
                        <a href="#">
                            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-4">
                        <a href="#">
                            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                        </a>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fa fa-save fa-xs">   Save</i></button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fa fa-close fa-xs">   Close</i></button>
            </div>
        </div>

        }

        @*<script>
            $(document).ready(function () {
                $("#MainMenuID").change(function () {
                    $.get("/Product/GetSubMenuByMainMenu", { MainMenuID: $("#MainMenuID").val() }, function (data) {
                        $("#SubMenuID").empty();
                        $.each(data, function (index, row) {
                            $("#SubMenuID").append("<option value='" + row.SubMenuID + "'>" + row.SubMenuName + "</option>")
                        });
                    });
                })
            });
        </script>*@

        @*<script>
    $("#actionButton").click(function() {
        $.ajax({
            url: '@Url.Action("AddAndEdit", "Product")',
            type: 'post',
            data: $("#actionForm").serialize(),
        })
        .done(function (response) {
            if (response.Success)
            {
                location.reload();
            }
            else
            {
                $(".errorDiv").html(response.Message);
            }
        });
    });
        </script>*@
